<h2><%= @game.name %> </h2>

<h5>Where: <%= @game.location.name %></h5>

<h5>When: <%= @game.time.strftime("%I:%M%p") %>, <%= @game.date.strftime("%m/%d/%Y") %></h5>

<p><%= @game.description %></p>

<p>
<% if current_user == @game.user %>
  <%= link_to "Edit Game", edit_location_game_path(@game.location, @game) %> |
  <%= link_to "Delete Game", location_game_path(@game.location, @game),
      method: :delete, data: { confirm: "Are your sure?" } %>
<% end %>
</p>

<h3>Players</h3>

<ul>
<% @players.each do |player| %>
  <li><%= player.user.username %></li>
<% end %>
</ul>

<% if !current_user || @players.where(user_id: current_user.id) == [] %>
  <p><%= button_to "Join", game_players_path(@game), class:"submit-button" %></p>
<% else %>
  <p><%= button_to "Leave Game", game_player_path(@game, @players.where(user_id: current_user.id).first.id), method: :delete, data: { confirm: "Are your sure?" }, class:"submit-button" %></p>
<% end %>

<h3>Discussion</h3>

<ul>
<% @comments.each do |comment| %>
  <li>
  <%= comment.body %> --<%= comment.user.username %>

  <% if current_user == comment.user %>
    <%= link_to "Edit", edit_game_comment_path(@game, comment) %> |
    <%= link_to "Delete", game_comment_path(@game, comment),
        method: :delete, data: { confirm: "Are your sure?" } %>
  <% end %>
  </li>
<% end %>
</ul>

<p><%= link_to "Discuss", new_game_comment_path(@game) %></p>

<p><%= link_to "Back to court", location_path(@game.location) %></p>
