<h1><%= @location.name %></h1>

<p><%= @location.address %> <%= @location.city %>, <%= @location.state %> <%= @location.zip_code %></p>

<p><%= @location.description %></p>

<p><%= link_to "Edit Court", edit_location_path(@location) %>

<p><%= link_to "Back", locations_path %></p>
