<h1><%= @location.park_name %></h1>

<p><strong>Location: </strong><%= @location.address %>


<% if current_user == @location.user %>
  <%= link_to "Edit Court", edit_location_path(@location) %> |
  <%= link_to "Delete Court", location_path(@location),
  method: :delete, data: { confirm: "Are your sure?" } %>
<% end %>
</p>

<br>

<h3> Games </h3>

<% @location.games.each do |game| %>
<p>
Game: <%= game.game_name %> <br>
Time: <%= game.time.strftime("%I:%M%p") %> <br>
Date: <%= game.date.strftime("%m/%d/%Y") %> <br>
Additional Information: <%= game.description %> <br>

<% if current_user == game.user %>
  <%= link_to "Edit", edit_location_game_path(@location, game) %> |
  <%= link_to "Delete", location_game_path(@location, game),
      method: :delete, data: { confirm: "Are your sure?" } %> |
<% end %>
  <%= link_to "Discussion", location_game_path(@location, game) %>
</p>
<% end %>

<% if current_user %>
  <%= link_to "Add a Game", new_location_game_path(@location) %>
<% end %>

<p><%= link_to "Back", locations_path %></p>
