<h1><%= @location.name %></h1>

<p><strong>Location: </strong><%= @location.address %> <%= @location.city %>, <%= @location.state %> <%= @location.zip_code %></p>

<p><strong> Description: </strong><%= @location.description %><br>
<%= link_to "Edit Court", edit_location_path(@location) %>
<%= link_to "Delete Court", location_path(@location),
  method: :delete, data: { confirm: "Are your sure?" } %>
  </p>
<br>
<br>
<h3> Games </h3>
<% @location.games.each do |game| %>
<p>
Game: <%= game.game_name %> <br>
Time: <%= game.time %> <br>
Date: <%= game.date %> <br>
Additional Information: <%= game.description %> <br>
</p>
<% end %>
<%= link_to "Add a Game", new_location_game_path(@location) %>

<p><%= link_to "Back", locations_path %></p>
